# ignore vim files swp files
*.swp
*.deb

# Ignore everything else in nvim config folder
nvim/.config/nvim/autoload
nvim/.config/nvim/plugged
nvim/.config/nvim/plugins
kitty/.config/kitty/theme.conf
kitty/.config/kitty/kitty-themes/
